body {
  max-width: 100%;
  margin: 0;
}
/*global margin on main*/
main {
  margin-bottom: 10px;
}
a,
h1,
h2,
h3,
button {
  /*might add label here, but need to do some tweaking on things then */
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h3,
button {
  font-weight: 600;
}
/*^grouping all elements that needs the same display:grid or flex. except the elements in header or footer or some items found many places.
it was tricky with elements that had diffrent display on mobile and desktop so removed those
*/
header,
main,
footer,
.grid {
  display: grid;
}
.flex,
.box {
  display: flex;
}
a {
  background: #f68c64;
  border: 2px solid #f68c64;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  text-decoration: none;
  color: #383838;
  font-weight: 600;
  font-size: 4vw;
  padding: 5px 10px;
}
.green {
  border: solid 2px #01b844;
  background-color: #01b844;
  color: white;
}

p,
::placeholder,
label {
  font-family: "source Sans Pro", sans-serif;
}
::placeholder {
  font-size: 1.2vh;
}

/* all header styling */
header {
  position: relative;
  background-color: #009788;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  height: 81px;
  overflow: visible;
}
header i {
  font-size: 25px;
  padding: 0px;
}
/* navigation */
nav {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 10px 0;
}
/*hidden checkbox for hamburger menu */
#hamnav {
  display: none;
}
/* showing the navigation over main with z index */
#hamnav:checked ~ nav {
  display: block;
  background-color: white;
  position: absolute;
  width: 80%;
  top: 100%;
  z-index: 1;
  text-align: center;
}

nav a {
  background-color: white;
  border: none;
  border-radius: 0px;
  color: black;
  box-shadow: none;
}
.menu {
  grid-column: 1/2;
}
.logo {
  grid-column: 2/3;
  justify-content: center;
}
.logo img {
  max-width: 80%;
  max-height: 81px;
}
/* makes the logo not have the a attributes on the other elements */
.logo a {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.logo a:hover {
  background-color: transparent;
}
#right-header {
  display: flex;
  align-items: center;
}
.cart {
  margin-left: 10px;
}

/* collection and bestseller*/
/* added grid on the elements to get rid of a white underline i was struggling with */
.collection,
.bestseller {
  position: relative;
}
/*all img rules, might need to put it back in each category */
.collection img,
.bestseller img,
.products img,
#about-us img,
#contact img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}
.small img {
  max-height: 80%;
  max-width: 80%;
  background-color: #009788;
}
.featured img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.product-banner img {
  width: 10%;
  height: 10%;
}
#checkout-complete img {
  max-width: 200px;
  max-height: 200px;
}

/* splitting the content into top and bottom to give them diffrent top value*/
.content-top,
.content-bot {
  position: absolute;
  text-align: center;
}
/* using transform to  make text over picture stay in same spot over diffrent sizes */
.content-top {
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-bot {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* added collection.html's bot text here also */
.collection a,
.bestseller a,
.bot-text a {
  padding: 7px 30px;
}
/*featured*/
.featured {
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 1px #67dffb;
  padding-bottom: 40px;
}

.color-box {
  background-color: #009788;
}

.color-box h3 {
  padding: 10px 0;
  margin: 0;
}
.text-box {
  display: flex;
  font-size: 4vw;
  text-align: center;
}
.price {
  margin-left: 15px;
}
/* small image for jacket see also */
.small {
  display: contents;
}

.box {
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.hidden {
  display: none;
}
.cta,
.buy {
  margin: 10px auto;
  align-self: center;
  height: auto;
}
/*about us index (and text align for footer)*/
.index-about,
footer {
  text-align: center;
}
.index-about p {
  padding: 5px 50px;
}
/* made the cta an inline-block here so it would accept margin */
.index-about a {
  display: inline-block;
  margin: 10px;
}
/*footer*/
footer {
  background-color: #009788;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "location social newsletter"
    "location social newsletter"
    ". info .";
}
#location {
  grid-area: location;
}
#location p {
  margin: 5px 0;
}
.social-media {
  grid-area: social;
  font-size: 4vw;
}
.social-media i {
  font-size: 4vw;
}
.newsletter {
  grid-area: newsletter;
  padding: 20px 0;
}
#location,
.social-media,
.newsletter {
  margin: auto;
}
#info {
  grid-area: info;
}
/*for now only used on footer  will probably be a global element later*/
footer form > * {
  display: block;
  margin: 0 auto;
}
button {
  border: solid 1px #f68c64;
  background: #f68c64;
  border-radius: 20px;
  padding: 5px 25px;
  color: black;
}
input[type="email"] {
  display: inline-block;
  border: solid 1px white;

  border-radius: 5px;
  width: 90px;
  margin: 0 0 10px 0;
}
input[type="email"]:focus {
  outline: none;
  border: solid 1px #000;
}
/* collection page */
.products {
  display: flex;
  flex-direction: column;
  background-color: #009788;
}
/* *collection* to put the cta and price on same line*/

.products .box {
  padding: 20px;
  border-bottom: solid 1px #67dffb;
}
/*make the collection site  buttons a little bit bigger */
.products a {
  padding: 5px 30px;
}
.buy {
  display: none;
}
/* jacket site */
/*setting right grid on jacket*/
#jacket .featured {
  grid-template-rows: auto auto;
}
#jacket h3 {
  grid-row: 1/2;
  grid-column: 1/3;
}
.jacket .box {
  background-color: #009788;
}
.jacket h1 {
  background-color: #009788;
  margin: 0;
  padding: 20px 0;
}
.price-cta {
  grid-template-columns: 1fr 0.5fr;
}
.price-cta .cta {
  grid-column: 1/3;
}
.size {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-start;
}
.cta a,
.buy a {
  padding: 10px 30px;
}
.jacket-info p {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: 400px;
}
/* buttons on jacket site*/
input[type="radio"] {
  opacity: 0;
  margin: 0;
  height: 0px;
  width: 0px;
}

span {
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-color: #fff;
  border: solid 3px #f68c64;
  border-radius: 50%;
  text-align: center;
  font-size: 5vw;
  line-height: 7vw;
  margin: 0;
  max-width: 100%;
}

.jacket form {
  height: 40px;
  margin-top: 10px;
}
.jacket label {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
  max-width: 100%;
  width: 100%;
}
label:first-child {
  margin-left: 0;
}

span:hover {
  opacity: 1;
  background-color: #f68c64;
  color: white;
}

input[type="radio"]:checked ~ span {
  color: #fff;
  background-color: #f68c64;
}
/*checkout page */
.product-banner {
  padding: 5px 20px;
  justify-content: space-between;
  border-top: solid 1px #67dffb;
  border-bottom: solid 1px #67dffb;
  align-items: center;
}
.product-banner i {
  font-size: 30px;
}
.card {
  margin: 0 5%;
  gap: 3px;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-areas:
    "name . ."
    "number . ."
    "exp . ."
    "cvv save save";
  align-items: center;
}
.card input,
.delivery input {
  border: solid 1px #000;
  padding: 10px;
}
/* grid area for first form */
#cardname {
  grid-area: name;
}
#cardnumber {
  grid-area: number;
}
#expired {
  grid-area: exp;
}
#cvv {
  grid-area: cvv;
}
.save {
  grid-area: save;
  align-items: center;
}
.card label {
  grid-area: lab;
}
.delivery {
  margin: 0 5%;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name . . "
    "email email info info"
    "adress adress . ."
    "small . . ."
    "small . . ."
    ". order order .";
}
.delivery input {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
}
#name {
  grid-area: name;
}
#email {
  grid-area: email;
  border-radius: 0px;
  width: 100%;
}
.delivery label {
  grid-area: info;
}
#adress {
  grid-area: adress;
}
.short {
  grid-area: small;
  flex-direction: column;
  row-gap: 3px;
}
.delivery button {
  grid-area: order;
  padding: 10px 25px;
  width: 40%;
  margin: 0 auto;
}
/* checkout complete */
#checkout-complete {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
#complete-info {
  flex-direction: column;
  text-align: center;
}
#complete-info button {
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 0px;
  padding: 5px 5px;
}
/*about us */
.hero {
  position: relative;
}
#about-us p {
  padding: 5px 10px;
}
/* unsure about this 
#about-us .content-top {
  height: 10%;
  width: 100%;
  top: 15%;
  
}
*/
/* contact */
#contact-us article {
  border-top: 1px solid #67dffb;
  border-bottom: 1px solid #67dffb;
  padding-left: 5px;
  padding-bottom: 10px;
}
#contact-us article a {
  background-color: transparent;
  border-color: black;
  border-radius: 0px;
  color: black;
}
/*for bigger screens, with these two types, the site works well on smaller mobile devices,
 and laptops to desktops. sizes in the middel(just over 600px, should have one more version
  because some elements gets broken, i will not make tablet version here*/
@media screen and (min-width: 600px) {
  /*making the a buttons more responsive on a pc with mouse */
  a,
  .cta a,
  .buy a {
    background-color: rgba(255, 255, 255, 0);
    color: #383838;
  }
  a:hover {
    background-color: #f68c64;
  }
  nav a:hover {
    color: white;
    background-color: #009788;
  }
  .green:hover {
    background-color: #01b844;
  }
  p,
  a {
    font-size: 1vw;
  }
  button:hover,
  .search:hover,
  .cart:hover {
    cursor: pointer;
  }
  /*hide mobile nav*/
  .mobilenav,
  #hamnav,
  .fa-bars {
    display: none;
  }
  header {
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 10px auto 10px;
    grid-template-areas:
      "logo . . ."
      "logo . nav right"
      "logo . . .";
    height: auto;
    min-height: 80px;
    margin-bottom: 30px;
  }
  nav {
    display: block;
    grid-area: nav;
  }
  nav a {
    white-space: nowrap;
    background-color: #009788;
  }
  /*styling the nav */
  ul {
    display: flex;
  }
  li {
    border-right: solid 1px black;
    padding: 0 15px;
  }
  li:last-child {
    border: none;
  }
  .logo {
    grid-area: logo;
  }
  #right-header {
    grid-area: right;
  }
  .search {
    border: solid 1px black;
    padding: 5px 100px 2px 5px;
  }

  .cart {
    margin-left: 100px;
  }
  /* all img rules for pc, might need to edit */
  .collection img,
  .bestseller img {
    width: 100%;
    height: 100%;
  }
  .jacket img {
    max-width: 80%;
    max-height: 80%;
  }
  .product-banner img {
    max-height: 80px;
    max-width: 80px;
  }
  /* making the layout for big screens */
  main {
    grid-template-columns: 50px auto auto auto auto auto auto 50px;
    grid-template-areas:
      ". col col col best best best ."
      ". feat feat feat feat feat feat ."
      ". . . about about . . .";
  }
  .collection {
    grid-area: col;
  }
  .bestseller {
    grid-area: best;
  }
  /* making the image become the same size this makes collection image wrong ratio but it is not noticable here, if i find a better solution i will change */
  .collection,
  .bestseller {
    max-width: 100%;
  }
  /* content on collection and bestseller moved */
  .content-top {
    top: 5%;
  }
  .content-bot {
    top: 15%;
  }
  .featured {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10%;
    /*padding on bottom already set to right number on mobile */
    padding-top: 40px;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 40px;
    grid-area: feat;
    border-top: solid 1px #67dffb;
  }
  .featured h3,
  #jacket h3 {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  /*needs styling here because is not visible on mobile */
  .hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box {
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
  }

  .color-box {
    border-radius: 20px 20px 0 0;
    max-height: 100%;
    height: 100%;
    width: 100%;
  }

  .index-about {
    grid-area: about;
    margin: 20px auto;
    border-left: solid 1px #67dffb;
    border-right: solid 1px #67dffb;
  }

  footer {
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
      ". . . . ."
      "location . social . newsletter"
      ". . info . .";
    align-items: end;
  }
  input[type="email"] {
    width: 120px;
  }
  ::placeholder {
    font-size: 1.3vh;
  }
  /* products page */
  #collection {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
  }
  /*remove flex */
  .buttons {
    display: flex;
    gap: 10px;
  }
  .products {
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    align-content: space-between;
    margin: 30px;
  }
  .products .box {
    background-color: white;
    padding: 0px;
    border-bottom: unset;
    padding-bottom: 10px;
  }
  .proucts .text-box {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name price"
      "cta add";
  }

  .buy {
    display: inline;
    box-sizing: border-box;
    grid-area: add;
    height: auto;
  }

  /*jacket site using grid area */

  /*custom main id to edit the layout */
  #jacket {
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
      ". maincontent maincontent ."
      ". featured featured .";
  }

  .jacket {
    grid-area: maincontent;
    padding: 50px;
    background-color: #f5f5f5;
    border: solid 1px black;
    grid-column: 2/4;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image image . name name name"
      "image image image . info info info"
      "image image image . info info info"
      "image image image . info info info"
      "image image image . cta cta cta";
  }

  .jacket .box {
    grid-area: image;
    border-radius: 0px;
    padding: 0px;
    justify-content: center;
  }
  .jacket h1 {
    grid-area: name;
    /*i dont know if i did this or chrome, but it set h1 to be same size as h2 so had to edit it to the standar */
    font-size: 2em;
    background-color: #f5f5f5;
  }
  /* grid areas for jacket section, and specific styling */
  .jacket .jacket-info {
    grid-area: info;
  }
  .jacket .price-cta {
    grid-area: cta;
  }
  #jacket .featured {
    background-color: #f5f5f5;
    border: solid 1px #000;
    grid-area: featured;
    padding: 10px 10px 75px 10px;
  }
  #jacket .box,
  #jacket .hidden {
    box-shadow: none;
  }

  /* grid area for price-cta (a subsection in jacket) */
  .price-cta {
    grid-template-columns: 1fr 1fr;
  }
  .price-cta h2 {
    grid-column: 2/3;
  }
  .price-cta .cta {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .size {
    grid-row: 2/3;
  }
  /* size buttons need to be grey instead of white on this site */
  span {
    background-color: #f5f5f5;
    font-size: 2vw;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
  }
  .jacket form {
    margin-top: 0px;
  }
  /* checkout page */
  .product-banner {
    box-sizing: border-box;
    max-height: 100px;
  }

  #checkout {
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #f5f5f5;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .product-banner {
    width: 75%;
    border: solid 2px #67dffb;
  }
  #checkout article {
    max-width: 100%;
    width: 100%;
  }
  #checkout input {
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  #checkout #save {
    width: 13px;
  }
  #checkout input::placeholder {
    color: #000;
  }
  .card {
    max-width: 75%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "name number save"
      "exp cvv .";
  }
  .delivery {
    margin: 0 auto;
    max-width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "name email info"
      "adress small ."
      ".  order .";
    margin-bottom: 20px;
  }
  .card,
  .delivery {
    row-gap: 20px;
    column-gap: 50px;
  }
  .short {
    flex-direction: row;
    column-gap: 50px;
  }
  /*about us */
  #about-us {
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      "about image1"
      "goal image2";
  }
  #about {
    grid-area: about;
  }
  .hero {
    grid-area: image1;
  }
  #goal {
    grid-area: goal;
  }
  #goal-img {
    grid-area: image2;
  }
  /* contact */
  #contact {
    gap: 20px;
    flex-direction: column;
  }
  #contact-us {
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    align-items: center;
    justify-items: center;
  }
  #contact-us article {
    max-width: 400px;
    grid-column: 1/2;
    grid-row: 1/2;
    border: none;
  }

  #contacy-us img {
    grid-column: 2/3;
  }
  #contact .hidden {
    border-radius: 0px;
  }
  #find-us {
    background-color: #f5f5f5;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
}
